/.env.example
/node_modules
/dist
/build  
/coverage
.DS_Store
*.log
*.env.example
*.env
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.swp
# Ignore large artifacts and local environments
lca-analysis-system/awscliv2.zip
lca-analysis-system/venv/
lca-analysis-system/**/__pycache__/
lca-analysis-system/frontend/node_modules/
